.wrapper{
    width: 60%;
    border-radius: 1rem;
}
.card{
    background-color: rgb(240, 240, 240);
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .wrapper{
        width: 90%;
}}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .wrapper{
        width: 95%;
}}
