.book-img{
    height: 200px;
    width: 160px;
    margin-bottom: 1rem;
}

.title-text{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: #292b2c;
}

.a-text{
    font-style: italic;
    font-weight: bold;
    color: #292b2c;
}

.p-text{
    font-size: 14px;
    font-weight: bold;
    line-height: 11px;
}

.p-content{
    font-size: 11px;
}

.book{
    background-color:#FFFFFF;
}

