.search {
    width: 6rem;
}

body {
    background-color: lightgrey;
    width: 100%;
}

.main {
    background: linear-gradient( rgba(144, 82, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://images.pexels.com/photos/711009/pexels-photo-711009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
    background-size: cover;
}